.input:focus {
}

.input {
    width: 372px;
    height: 36px;
    border:1px solid rgba(209, 209, 209, 1);
    border-radius: 5px;
}

.inputWrapper {
    /*border: 3px solid darkorange;*/
}

.superInput {
    /*border: 3px solid #1600f8;oOOOOOOOOOOOOOOOOOOO*/
}

.errorInput {
    /*border: 2px solid chartreuse;*OOOOOOOOOOOOOOOOOo/
}

.errorInput:focus {

}

.error {
    /*background-color: red;*/
}
