.tech {
    width: 50vw;
}

.developer {

}

.techHeader,.developerHeader {
    width: 50vw;
    color: #000;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.developerHeader {

}

.row {
    display: flex;
}

.rowHeader {
    display: flex;
}

.loading {
    display: flex;
    justify-content: center;

}