.tech {
    height: 32px;
    width: 50vw;
}

.developer {

}

.techHeader,.developerHeader {
    color: #000;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.techHeader {
    width: 50vw;
}

.developerHeader {
    width: 10vw;
}

.row {
    display: flex;
    border-bottom: 1px solid rgba(128, 128, 128, 0.25);
}


.rowHeader {
    display: flex;
    height: 36px;
    background-color: #E5E5E5;
    align-items: center;
}

.loading {
    display: flex;
    justify-content: center;
}

