.sendForm {
    display: flex;
    margin-top: 50px;
}

.textarea {
    outline: none;
    resize: none;
    width: 77%;
    border: 0;
    padding: 15px 20px;
    border-radius: 50px;
    background: #F5F7FB;
    box-shadow: 0px 1px 2px 0px rgba(29, 33, 38, 0.10), 0px 5px 20px 0px rgba(29, 33, 38, 0.03);
    font-size: 19px;
}

.button {
    width: 18%;
    margin-left: auto;
    border-radius: 40px;
    background: #06C;
    font-size: 26px;
    color: #FFF;
    border: 0;
    cursor: pointer;
}

.button:hover {

}
.button:active {

}
