.button {
    background-color: rgba(0, 102, 204, 1);
    display: inline-block;
    color: #FFFFFF;
    font-size: medium;
    font-weight: bold;
    height: 30px;
    min-width: 132px;
    border: 0px;
    border-radius: 3px;
    padding: 5px 15px;
}

.disabled {
    color: rgba(94, 99, 115, 0.54);
    background-color: rgba(0, 77, 153, 0.24);
    opacity: 1;
}

.secondary {
    background-color: #FFFFFF;
    color: rgba(0, 102, 204, 1);
    border: 2px solid rgba(0, 102, 204, 1);
}


.default {
    background-color: rgba(0, 102, 204, 1);
}


.red {
    background-color: rgba(204, 20, 57, 1);
}

.default:hover {
    background-color: rgba(0, 128, 255, 1);
    transition: background-color 0.4s linear;
}

.red:hover {
    background-color: rgba(255, 26, 71, 1);
    transition: background-color 0.4s linear;
}

.secondary:hover {
    background-color: rgba(229, 240, 250, 1);
    transition: background-color 0.4s linear;
}


.default:active {
    background-color: rgba(0, 89, 178, 1);
}

.secondary:active {
background-color: rgba(201, 229, 255, 1);
}

.red:active {
background-color: rgba(178, 18, 50, 1);
}

.button:disabled {

}
